################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BusinessApplicationProject/FileContentIndex
/BusinessApplicationProject/.vs/BusinessApplicationProject/FileContentIndex
